@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    /* font-family: 'Square Peg', cursive; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* inspiration  */
.image-container{
    columns: 3 250px;
    gap: 15px;
}
.image-container img{
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

 /* Partners slider  */
/* .slick-slide{
    margin: 0 20px;
} */
.customer-logos .slick-track{
    display: flex;
    align-items: center;
}
