@tailwind base;
@tailwind components;
@tailwind utilities;

/* font family */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pridi:wght@200;300;400;500;600;700&family=Square+Peg&family=Teko:wght@300;400;500;600;700&display=swap");
/* font family */
@font-face {
  font-family: "Quentin";
  font-style: normal;
  font-weight: 400;
  src: local("Quentin"),
    url("https://fonts.cdnfonts.com/s/26481/Quentin.woff") format("woff");
}

input:focus {
  box-shadow: none !important;
}
textarea:focus {
  box-shadow: none !important;
}

.activePage {
  position: relative;
}

.activePage::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;

  transform: translateX(-50%);
  border-bottom: 2px solid #d00338e5;
  width: 20px;
}

.curb {
  clip-path: ellipse(100% 100% at 50% 0%);
  background: #ce03391a;
}

.sticky {
  position: fixed !important;
  top: 0;
  background-color: #fff;
  transition: 0.5s;
}

@media only screen and (max-width: 769px) {
  .curb {
    clip-path: none;
    clip-path: ellipse(100% 61% at 53% 49%);
  }
}

/* Hero section ended  */

/* inspiration started */
.image-container {
  columns: 3 250px;
  gap: 15px;
}
.image-container img {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

/* inspiration ended */

/* partners started */
.customer-logos .slick-track {
  display: flex;
  align-items: center;
}

/* partners ended */

/* accordion */
.accordion-container .accordion {
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 45%;
}
.accordion-container .accordion.active .accordion-heading {
  background: rgba(208, 3, 56, 0.9);
  border-radius: 10px 10px 0px 0px;
}
.accordion-container .accordion.active .accordion-heading h3 {
  color: #fff;
}
.accordion-container .accordion.active .accordion-heading i {
  color: #fff;
  transform: rotate(180deg);
  transition: transform 0.2s 0.1s;
}
.accordion-container .accordion.active .accordion-content {
  display: block;
}

.accordion-container .accordion .accordion-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(213, 29, 76, 0.05);
  border-radius: 10px;
}

.accordion-container .accordion .accordion-heading h3 {
  font-size: 20px;
  color: rgba(208, 3, 56, 0.9);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.accordion-container .accordion .accordion-heading i {
  font-size: 25px;
  color: rgba(208, 3, 56, 0.9);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.accordion-container .accordion .accordion-content {
  padding: 15px 10px;
  border-top: 0;
  display: none;
  animation: animate 0.2s linear backwards;
  transform-origin: top;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 10px 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #5c5c5c;
}
@keyframes animate {
  0% {
    transform: scaleY(0);
  }
}

/* all destination started  */

.country .itemBox.hide {
  display: none;
}
section ul li {
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(208, 3, 56, 0);
  cursor: pointer;
  white-space: nowrap;
  margin-bottom: 10px;
}
section ul li.active {
  background: #f1b4c4;
  border: 1px solid rgba(208, 3, 56, 0.4);
}

/* all destination ended */

.combo .slick-list {
  padding-left: 0px !important;
}

/* preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
#loader-img {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  z-index: 1001;
  /* background-image: url("./../assets/images/preloader/preloader.webp"); */
  /* background-image: url("./../assets/images/preloader/preloader.webp"); */
 
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  animation: all linear 0.4s;
  z-index: 1020;
  -webkit-animation: all linear 0.4s;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #d5194a;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: blue;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: yellow;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 1000;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.loader-section.section-left {
  left: 0;
}

.loader-section.section-right {
  right: 0;
}

.panel_left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.panel_right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded-circle {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded-img {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
