.nav{
    /* height: 72vh; */
    /* width: 1000vw; */
    width: 100%;
    background: rgba(208, 3, 56, 0.1);
}
.curb{
    height: 82vh;
    /* width: 100vw; */
    /* background-image: linear-gradient(0deg, #08AEEA, 0%,#2AF598 100%); */
    /* background-image: linear-gradient(0deg, #08AEEA, 0%,#2AF598 100%); */
    clip-path: ellipse(100% 55% at 48% 44%);
    background: #ce03391a;
    padding-bottom: 700px;
}

@media only screen and (max-width: 400px) {
    .curb{
        height: 82vh;
        clip-path: none;
        padding-bottom: 850px;
       
    }

}